
*{
   padding: 0;
   margin: 0;
}

.logo{
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    overflow-y: hidden;
}
.wrapper{
    margin: 10px;
    display: flex;
}
.img-wrapper{
    width: 60%;
}
.img-wrapper img{
    height: 100vh;
    width: 100%;
}
.chat-wrapper{ 
    height: 100vh;
    border-radius: 5px;
    width: 40%;
}
 nav{
   background-image: linear-gradient(rgb(11, 221, 221),rgb(0, 225, 255));
   display: flex;
   justify-content: center;
   align-items: center;
 }

.container{
    height: 85vh;
    max-height: 95vh;
    border: 1px solid #389edc;
    overflow-y: auto;
    margin-bottom: 23px;
    background-image: linear-gradient(rgb(79, 158, 195),purple);
    margin: auto;
    border-bottom: none;
}
.message{
  background-color: rgb(37, 22, 73);
  width:50%;
  padding:10px;
  margin: 17px 10px;
  color: white;
}
.left{
   float: left;
   clear: both;
   border-radius: 0px 10px 5px 10px;
   color:rgb(37, 22, 73);
   background-color:white;
}
.right{
   float:right;
   clear: both;
   border-radius: 10px 0px 10px 5px;
}
#send-container{
    text-align: center;
    width: 100%;
    display: flex;
    margin: auto;

}
#message-inp{
    width: 85%;
    border: 1px solid #389edc;
}
input:focus{
    border: 1px solid #389edc !important;
    outline: none;
}
.submit{
    cursor: pointer;
    border: none !important;
    /* border-radius: 5px; */
    height: 100%;
    width: 15%;
    padding: 10px;
    background: #389edc;
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    .img-wrapper{
        display: none;
    }
    .img-wrapper, .chat-wrapper {
        width: 100%;
    }
    .message {
        width: 80%;
    }
}